[submodule "lmdb-safe"]
	path = lmdb-safe
	url = https://github.com/horazont/lmdb-safe
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11
